@media (min-width:600px) {

    body {
        position: relative;
    }

    #root {
        max-width: 700px;
        margin: 2rem auto;
        padding: 0 1rem;
    }

    .info {
        font-size: 1rem;
    }

    [type="text"] {
        font-size: 1rem;
    }

    button {
        padding: 0.5rem 0;
        font-size: 1rem;
        width: 6rem;
    }

    li span {
        font-size: 1rem;
    }


    .close-modal-x {
        display: block;
        /*background-color: #f4f4f4;*/
        position: absolute;
        top: 1rem; right: 1rem;
        width: 2rem; height: 2rem;
        font-size: 2rem;
        cursor: pointer;
        color: gold;
        text-decoration: none;
    }

    .about-display {
        width: 75vw; height: 80vh;
        position: relative;
        border-radius: 10px;
    }
}