*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
  /*position: absolute;*/
  /* WHY does this work? https://stackoverflow.com/questions/30358630/html-body-not-filling-complete-width-on-mobile-devices */
  /*note that it only works if you DO have todos! */
  /*why is it not needed now? I think because previously elements had actually been overflowing width*/
}

body {
  /*width: 100vw; !*this breaks the position: absolute hack*!*/
}

a {
  color: #007bff;
}

p {
  margin-bottom: 1rem;
}

button {
  -webkit-appearance: none;
  /*display: inline-block;*/
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 0;
  padding: .5rem 0;
  font-size: 0.8rem;
  border-radius: 4px;
  width: 3rem;
  flex-shrink: 0;   /*https://www.reddit.com/r/css/comments/dklzw4/flexbox_behavior_of_width_100_in_child_element/*/
}

#root {
  /*max-width: 600px;*/
  margin: 0.5rem auto;
  padding: 0 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.about-button {
  cursor: pointer;
  /*border: 2px solid #007bff;*/
  font-weight: bold;
  font-size: 0.8rem;
  /*background-color: #f4f4f4;*/
  padding: 0.1rem;
  text-decoration: none;
  display: block;
  line-height: 2rem;
  border-radius: 4px;
  width: 3rem;
  text-align: center;
  color: #007bff;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.title {
  color: #222;
}

.info {
  display: flex;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
  /*background: #ddd;*/
  /*background: #f4f4f4;*/
  /*padding: 0.1rem 0;*/
  /*border-radius: 4px;*/
}

.change-play-mode {
  cursor: pointer;
  /*background: #007bff;*/
  color: #007bff;
  width: 11rem;
  padding: .25rem 1rem;
  border-radius: 4px;
  font-size: 0.85rem;
  text-align: center;
  border: 2px solid #007bff;
  /*border: 2px solid #ccc;*/
  /*margin: 0 0.5rem 0 0;*/
  /*display: inline-block;*/

}

form {
  display: flex;
  margin-bottom: 0.25rem;
}

[type="text"] {
  /*display: inline-block;*/
  -webkit-appearance: none;
  padding: .5rem 1rem;
  margin-right: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 0.75rem;
}


[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 0.1rem 0;
  margin-bottom: 0.25rem;
  background: #f4f4f4;
  border-radius: 4px;
}

li span {
  /*background: #f4f4f4;*/
  /*display: inline-block; !*https://stackoverflow.com/questions/47319794/make-flex-children-inline-block?rq=1*!*/
  padding: .25rem .5rem;
  margin: 0 .5rem;
  width: 100%;
  border-radius: 4px;
  border: 2px solid transparent;
  white-space: pre;
  line-height: 1.25;
  font-size: 0.75rem;
  overflow: auto;
}

li span:hover {
  background: rgba(179, 215, 255, 0.52);
}

li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52)
}

.active {
  background: purple;
}


/*ABOUT *****************************************************************/

#about {
  display: none;
}

#about:target {
  display: flex;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.close-modal-background {
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.about-display {
  z-index: 1;
  width: 75vw; height: 100vh;
  background: #555555;
  position: absolute;
  right: 0;
  /*border-radius: 10px;*/
  overflow: auto;
}

.about-info {
  font-size: 1rem;
  max-height: 70vh;
  padding: 1rem 1rem;
  color: gold;
}

.close-modal-x {
  display: none;

}
